#input_field {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  flex: 1;
  flex-basis: 350px;
}
section#general,
section#education,
section#jobExperience {
  height: fit-content;
  /* border: 3px solid #000000bc; */
  background-color: #fee2d8ff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  width: 100%;
}
section > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
form > label {
  display: flex;
  flex-direction: column;
}
form > button,
section > #education_list_table > button,
section > #jobs_list_table > button {
  height: 2.5em;
  font-size: 1rem;
  border: none;
  background-color: #c21013b1;
  color: #fee2d8ff;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}
form > label > input {
  height: 2em;
  padding-left: 5px;
  border: none;
  outline: none;
}
section > #education_list_table,
section > #jobs_list_table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}
section > #education_list_table > #education_list,
section > #jobs_list_table > #jobs_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start;
  width: 100%;
}
section > #education_list_table > #education_list > ul,
section > #jobs_list_table > #jobs_list > ul {
  list-style: none;
  background-color: #c21013b1;
  padding: 10px;
  display: flex;
  width: 100%;
  gap: 10px;
}
section > #education_list_table > #education_list > ul > li#delete,
section > #jobs_list_table > #jobs_list > ul > li#delete {
  display: flex;
  flex: 3;
  justify-content: end;
}

section > #education_list_table > #education_list > ul > li > ul,
section > #jobs_list_table > #jobs_list > ul > li > ul {
    list-style: none;
    color: #fee2d8ff;
    flex: 2.5;
}
