header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fee2d8ff;
  padding-right: 50px;
}
header > h1 {
  color: #000000bc;
  font-size: 1.2rem;
  position: relative; 
}
header > h1 > span {
  color: #c21013b1;
  font-size: 1.4rem;
}
header > nav {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
header > nav > a {
  position: relative;
  color: #000000bc;
  text-decoration: none;
}
header > nav > a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transition: opacity 0.3s ease;
  opacity: 0;
}
header > nav > a:hover::after {
  opacity: 1;
}
header > h1::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #000000bc;
  opacity: 1;
}
header > nav > button {
    height: 2em;
    padding: 0 10px;
    background-color: #c21013b1;
    border: none;
    border-radius: 3px;
    color: #fee2d8ff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
